<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="w3-container">
      <h2>List users</h2>
      <!-- <p class="create-container">
          <a class="create-item" href="/create-user">Create user</a>
        </p> -->
      <table class="w3-table-all w3-hoverable">
        <thead>
          <tr class="w3-light-grey">
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= data[i].firstName %></td>
            <td><%= data[i].lastName %></td>
            <td><%= data[i].email %></td>
            <td>
              <a href="#">Detail</a>
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
